body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 3vw;
    line-height: 3.5vw;
    color: #FFFFFF;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.8vw;
    align-content: left;
    color: #FFFFFF;
    padding: 0px;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background {
    background-image: url(images/img.jpg);
    height: 100%;
    position: absolute;
    background-position-x: 0px;
    background-position-y: -100px;
    background-size: 2250px;
    width: 6750px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index:-1;
}

.middle-box {
    width: 50vw;
    height: 43vh;
    background: rgba(34, 34, 34, 0.7);
    display: flex;
    flex-direction: row;
	padding: 4vw;
    text-align: left;
}

.left-box {
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
}

.social {
    display: flex;
    flex-direction: row;
}

.social-item {
    font-size: 3vw;
    margin-right: 1.5vw;
}

.social-item a {
    text-decoration: none;
    color: #ffffff;
}

.social-item a:hover {
    color: cornflowerblue;
    transition: linear 0.3s;
}


